.class-container {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  border-radius: 15px;
  color: white;
  /* top: 3.8%; */
  margin-top: 0px;
  margin-right: 4px;
  margin-left: 4px;
  margin-bottom: 0px;
  padding: 0px 12px 0px 12px;
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19); */
  width: 10.3%;
  transition: transform 100ms ease, box-shadow 125ms ease;

  z-index: 10;
}

.class-container:hover {
  transition: transform 100ms ease, box-shadow 125ms ease;
  transform: scale(1.025);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.005),
    0 12px 40px 0 rgba(0, 0, 0, 0.19);
  /* background-color: beige; */
}

.top-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subject-text {
  font-size: calc(1.5px + 2vmin);
  font-weight: 600;
}

.class-close-button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background: none;
  cursor: pointer;
  transition: color 100ms ease;
  color: white;
  padding: 0.75rem;
}
.class-close-button:hover {
  transition: color 100ms ease;
  color: #e35f45;
}

.data-text {
  font-size: calc(1px + 1vmin);
  font-weight: 600;
}
