.outside-container {
  max-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.schedule-panel {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.sidebar {
  height: 100vh;
  align-content: stretch;
}

.main {
  flex-grow: 1;
  display: flex;
  align-items: stretch;
}

.bottombar {
  background-color: #33c3e0;
  height: 5%;
  overflow: scroll;
}

.tab {
  font-weight: bold;
  height: 100%;
  width: 100px;
  float: left; 
  transition: 100ms;
  display: flex;

  padding: 0 0.5rem 0 0.5rem;

  justify-content: space-between;
  align-items: center;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #84bbe8;
  color: #6786a1;
}

.tab:hover {
  cursor: pointer;
  background-color: #92dfee;
}

.time-column {
  width: 10%;
  background-color: #ededed;
  float: left;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #d9d9d9;
}

.column {
  width: 15%;
  background-color: #F5F5F5;
  float: left;
  box-sizing: border-box;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #d9d9d9;
}

.column-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.8%;
  
  font-weight: bold;

  background-color: #ededed;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #d9d9d9;

}

.time {
  flex-grow: 1;
  display: flex;
  align-items: center;
  text-align: center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #d9d9d9;
  padding-left: 7.5px;
}

.delete-tab {
  /* background: cyan; */
  transition: 100ms;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 3px 4px;
  margin-left: 5px;
  z-index:20 ;
}

.delete-tab:hover {
  cursor: pointer;
  background-color: #a7d6fc;  
}
