.outside-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.schedule-panel {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.sidebar {
  height: 100vh;
  align-content: stretch;
}

.main {
  flex-grow: 1;
  display: flex;
  align-items: stretch;
}

.main-drag-guide {
  position: absolute;
  overflow: hidden;
  width: 250px;
  height: auto;
  padding: 1rem;
  top: calc(50% - 1rem - 50px);
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: bold;

  transition: opacity 100ms ease;
  opacity: 0;
  z-index: 30;
  pointer-events: none;
}

.main-drag-guide-enabled {
  transition: opacity 100ms ease;
  opacity: 1;
}

.bottombar {
  display: flex;
  height: 5%;
  flex-direction: row;
  flex-grow: 0;
  color: #0396b3;
  border-top: #d9d9d9 1px solid;
}

.plans {
  overflow-y: hidden;
  overflow-x: auto;
  scrollbar-width: thin;
  display: flex;
  flex-direction: row;
  width: 100px;
  flex-grow: 1;
}

.tab {
  font-weight: bold;
  transition: 100ms;
  display: flex;
  flex-shrink: 0;
  padding: 0 0.5rem 0 0.5rem;

  justify-content: space-between;
  align-items: center;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #84bbe8;
}

.tab-not-current {
  color: #0396b3;
}

.tab-current {
  background: #d5f3f9;
  color: #0396b3;
}

.tab:hover {
  cursor: pointer;
  background-color: #92dfee;
}

.add-tab {
  background: #0396b3;
  color: white;
}

.time-column {
  width: 10%;
  background-color: #f9fafb;
  float: left;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #d9d9d9;
}

.column {
  width: 15%;
  background-color: white;
  float: left;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #d9d9d9;
}

.column-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.8%;

  font-size: 0.875rem;
  font-weight: bold;

  background-color: #f9fafb;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #d9d9d9;
  color: #6b7280;

  text-transform: uppercase;
}

.time {
  flex-grow: 1;
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 7.5px;

  font-size: 0.875rem;
  color: #6b7280;
}

.time:not(:last-child) {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #d9d9d9;
}

.delete-tab {
  /* background: cyan; */
  transition: 100ms;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 3px 4px;
  margin-left: 5px;
  z-index: 20;
  color: #7a8c91;
}

.delete-tab:hover {
  cursor: pointer;
  color: #e35f45;
}

.about-us-button {
  border: unset;
  background: unset;
  height: 100%;
  padding: 0 1rem 0 1rem;

  border-left: #84bbe8 1px solid;
}

.initial-plan-reminder {
  position: absolute;
  top: calc(50% - 1rem);
  left: calc(48.36% - 1rem);
  padding: 1rem;

  text-align: center;
  color: #6b7280;
}
