.sidebar {
  position: fixed;
  height: 100%;
  width: 20%;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-items: stretch;
}

.sidebar-item {
  border-bottom: gray 1px solid;
  padding: 1rem;
}

.title {
  
}

.subjects-list {
  flex-grow: 1;
}